header {
	height: 60px;
}
header>nav {
	position: fixed;
	box-sizing: border-box;
	padding: 0 20px;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #ccc;
	z-index: 1;
	background-color: white;
}
header>nav>.left {
	float: left;
}
header>nav>a.left {
	line-height: 58px;
	margin-right: 20px;
}
header>nav>.right {
	float: right;
}
header>nav .icon-book {
	font-size: 30px;
	margin-right: 100px;
	color:  #ea6f5a;
}
header>nav>.color-theme>span {
	color: #ea6f5a;
}
header>nav>.search {
	margin-top: 13px;
}
header>nav .icon-font {
	line-height: 58px;
	font-size: 30px;
}
header>nav>.button.right {
	margin-left: 20px;
	margin-top: 13px;
}
header>nav>.config {
	position: relative;
}
header>nav>.config>.style-config {
	position: absolute;
	display: none;
	top: 50px;
	right: -12px;
}
header>nav>.config:hover>.style-config {
	display: block;
}

main .theme-labels {
	margin-top: 30px;
}
main .theme-labels>.img-button {
	margin-right: 20px;
}
main .info-lists {
	margin-top: 30px;
}
main>.layout>.aside {
	width: 280px;
	float: right;
}
main>.layout>.content {
	margin-right: 300px;
}
main .recommend>.recommend-item {
	margin-top: 15px;
}
main .recommend>.button-wide {
	margin-top: 15px;
}